:root {
  --background: #23272a;
  --hexagon: #566573;
  --icon: #000;
  --logo: #fff;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* Apply a default color scheme */
@media (prefers-color-scheme: no-preference) {
  :root {
    --background: #23272a;
    --hexagon: #566573;
    --icon: #000;
    --logo: #fff;
  }
}

/* Apply a light color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --background: #f5f5f5;
    --hexagon: #666;
    --icon: #fff;
    --logo: #23272a;
  }
}

/* Apply a dark color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #23272a;
    --hexagon: #566573;
    --icon: #000;
    --logo: #fff;
  }
}
